@import url('https://fonts.googleapis.com/css2?family=Playwrite+US+Modern:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{
    body {
        font-family: 'Poppins', sans-serif;
        background-color: #f9f9f9;
    }
}

@layer utilities {    
    .shadow-custom {
        box-shadow:
            0 4px 15px -6px rgba(0, 0, 0, 0.3),
            0 4px 25px -6px rgba(0, 0, 0, 0.3);
    }
}

.animPage {
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}